In [44]:
import pandas as pd
import numpy as np
import seaborn as snsfrom
from scipy import stats
import matplotlib.pyplot as plt

In [45]:
df = pd.read_csv("../data/Sleep_health_and_lifestyle_dataset.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [46]:
# 수면장애 여부 컬럼 생성
df["Disease"] = df["Sleep Disorder"].apply(lambda x: 0 if pd.isna(x) else 1)
new_df = df[
    [
        "Age",
        "Sleep Duration",
        "Quality of Sleep",
        "Physical Activity Level",
        "Stress Level",
        "Heart Rate",
        "Daily Steps",
        "Disease",
    ]
]
new_df

,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Disease
0,27,6.1,6,42,6,77,4200,0
1,28,6.2,6,60,8,75,10000,0
2,28,6.2,6,60,8,75,10000,0
3,28,5.9,4,30,8,85,3000,1
4,28,5.9,4,30,8,85,3000,1
...,...,...,...,...,...,...,...,...
369,59,8.1,9,75,3,68,7000,1
370,59,8.0,9,75,3,68,7000,1
371,59,8.1,9,75,3,68,7000,1
372,59,8.1,9,75,3,68,7000,1
373,59,8.1,9,75,3,68,7000,1

In [51]:
# 각 컬럼 별 상관계수 산출
df_corr = new_df.corr()
df_corr

,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Disease
Age,1.000000,0.344709,0.473734,0.178993,-0.422344,-0.225606,0.057973,0.432007
Sleep Duration,0.344709,1.000000,0.883213,0.212360,-0.811023,-0.516455,-0.039533,-0.338622
Quality of Sleep,0.473734,0.883213,1.000000,0.192896,-0.898752,-0.659865,0.016791,-0.310984
Physical Activity Level,0.178993,0.212360,0.192896,1.000000,-0.034134,0.136971,0.772723,0.069787
Stress Level,-0.422344,-0.811023,-0.898752,-0.034134,1.000000,0.670026,0.186829,0.181685
Heart Rate,-0.225606,-0.516455,-0.659865,0.136971,0.670026,1.000000,-0.030309,0.330254
Daily Steps,0.057973,-0.039533,0.016791,0.772723,0.186829,-0.030309,1.000000,-0.026575
Disease,0.432007,-0.338622,-0.310984,0.069787,0.181685,0.330254,-0.026575,1.000000