In [1]:
import pandas as pd

In [2]:
movie = pd.read_csv('./data/movie_ratings.csv')
movie

     UserID  MovieID  Rating  Age  Occupation    Genre
0        45        8       4   55  Unemployed   Horror
1        48        5       3   15    Engineer   Action
2        65        4       2   55     Student  Romance
3        68        6       5   45      Doctor   Comedy
4        68        7       4   25    Engineer  Romance
..      ...      ...     ...  ...         ...      ...
495       4        4       4   50      Doctor   Action
496      13       14       4   55     Student   Horror
497      59        5       5   40     Student   Comedy
498       2       20       3   40      Artist   Action
499       1        7       2   20      Artist  Romance

[500 rows x 6 columns]

- 데이터 설명
    - UserID : 리뷰 작성자 ID
    - MovieID : 리뷰 대상 영화 ID
    - Rating : 평점
    - Age : 작성자 나이
    - Occupation : 작성자 직업
    - Genre : 영화 장르

In [12]:
#1. 리뷰 작성자 나이(Age)의 평균, 최소값, 최대값을 출력한다.
movie['Age'].mean()

38.52

In [13]:
movie["Age"].min()

15

In [16]:
movie["Age"].max()
# max(movie['Age'])

60

In [43]:
#2. 평점(Rating)의 기술 통계량(개수, 평균, 표준편차, 최소값, 최대값, 사분위수)을 출력한다.
# 개수
movie["Rating"].describecribe()

count    500.000000
mean       2.998000
std        1.434612
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: Rating, dtype: float64

In [42]:
#3. 리뷰가 가장 많은 영화 ID(MovieID)를 찾고, 해당 영화의 리뷰수를 출력한다.
movie["MovieID"].mode()[0] # 6 # 열을 먼저 접근 
movid.mode()["movieID"][0] # 모든 열의 최빈값을 먼저 계산 

movie_df = movie.loc[movie["MovieID"] == 6]
movie_df.count()

UserID        40
MovieID       40
Rating        40
Age           40
Occupation    40
Genre         40
dtype: int64

In [30]:
car = pd.read_csv('./data/auto-mpg.csv')
car

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [85]:
# 1. 70 ~ 79년도(model year)의 자동차 연비(mpg) 평균을 출력한다.
for year in range(70, 80):
    car_year = car['model year'] == year
    year_mpg = car.loc[car_year]
    print(year, year_mpg['mpg'].mean())

70 17.689655172413794
71 21.25
72 18.714285714285715
73 17.1
74 22.703703703703702
75 20.266666666666666
76 21.573529411764707
77 23.375
78 24.061111111111114
79 25.09310344827585

In [90]:
for year in range(70,80):
    print(year, car.loc[car['model year'] == year]['mpg'].mean())

70 17.689655172413794
71 21.25
72 18.714285714285715
73 17.1
74 22.703703703703702
75 20.266666666666666
76 21.573529411764707
77 23.375
78 24.061111111111114
79 25.09310344827585

In [58]:
# 2. 평균 마력(horsepower)보다 작은 자동차들의 연비(mpg) 평균을 출력한다.
car['horsepower'].mean() # 104.46231155778895

low_car = car.loc[car['horsepower'] < car['horsepower'].mean()]
low_car['mpg'].mean()

27.542

In [59]:
# 3. 평균 마력(horsepower)보다 큰 자동차들의 연비(mpg)평균을 출력한다.
h_car = car.loc[car['horsepower'] > car['horsepower'].mean()]
h_car['mpg'].mean()

16.71148648648649

In [70]:
# 4. 무게(weihgt)가 가장 무거운 차와 가장 가벼운 차의 연비를 출력한다.
ma_car = car['weight'].max() #5140
car.loc[car['weight'] == ma_car]['mpg']

44    13.0
Name: mpg, dtype: float64

In [69]:
min_car = car['weight'].min()
car.loc[car['weight'] == min_car]['mpg']

54    35.0
Name: mpg, dtype: float64

In [ ]:
#.loc[행,열]
# .loc[조건식, 보고 싶은 열]